NEXT_PUBLIC_SUPABASE_URL=https://dnpbxxlzvvvmgbkqxgnn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRucGJ4eGx6dnZ2bWdia3F4Z25uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEzMTEwNTgsImV4cCI6MjA3Njg4NzA1OH0.jEOQ39AU99ut5O4n0_dkIhMFkaQ83XoeWxDkHYQ8M7Y
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_TIMEZONE=America/Recife
DATABASE_URL=postgresql://postgres:joana21070903@db.dnpbxxlzvvvmgbkqxgnn.supabase.co:5432/postgres?sslmode=require